<h1>Archived Contacts</h1>
<p class="type-forever" *ngIf="loading">Loading...</p>
<div *ngIf="!loading">
  <p>These are the long-term clients that we are no longer contracted with.</p>
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Title</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of clients">
        <td>
          <img
            class="avatar"
            src="/assets/img/clients/{{ member.avatar }}"
            alt="{{ member.name }}"
            width="100"
          />
        </td>
        <td>
          <a
            href="{{ member.link }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ member.name }}</a
          >
        </td>
        <td>{{ member.title }}</td>
        <td>{{ member.since }}</td>
        <td>{{ member.until }}</td>
      </tr>
    </tbody>
  </table>
</div>
