<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Featured Projects</h1>
    <p>
      This page shows off some of our favourite projects that we have worked on.
    </p>
    <div class="project" *ngFor="let project of projects">
        <img class="avatar" src="{{ project.iconUrl }}" />
        <div>
          <a href="{{ project.url }}" target="_blank" rel="noopener"
            ><h2>{{ project.name }}</h2></a
          >
          <p>{{ project.description }}</p>
      </div>
    </div>
  </div>
  <a routerLink="/" class="nes-btn">Back Home</a>
</div>
