<h1>Personal Projects</h1>
<p *ngIf="loading" class="type-forever">Loading...</p>
<div *ngIf="!loading">
  <p>These are some of our projects created for our own needs/wishes.</p>
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Description</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of projects">
        <td>
          <img
            class="avatar"
            src="/assets/img/projects/{{ member.avatar }}"
            alt="{{ member.name }}"
            width="100"
          />
        </td>
        <td>
          <a
            href="{{ member.link }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ member.name }}</a
          >
        </td>
        <td>{{ member.title }}</td>
        <td>{{ member.since }}</td>
      </tr>
    </tbody>
  </table>
</div>
