<h1>Contact Us</h1>
<p>Want to inquire about having a product built for you?</p>
<p>
  <a
    href="https://calendly.com/nhcarrigan/client-consultation/"
    target="_blank"
    rel="noopener noreferrer"
    >Schedule a Product Consultation</a
  >
</p>
<p>Need someone to help run your community?</p>
<p>
  <a
    href="https://calendly.com/nhcarrigan/community-consultation"
    target="_blank"
    rel="noopener noreferrer"
    >Schedule a Community Consultation</a
  >
</p>
<p>Have a general inquiry?</p>
<p>
  <a
    href="https://chat.nhcarrigan.com"
    target="_blank"
    rel="noopener noreferrer"
  >
    Join our Chat Server
  </a>
</p>
