<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Contact Us</h1>
    <p>Want to inquire about having a product built for you?</p>
    <p>
      <a
        href="https://airtable.com/shrgod1nYYBvjSmc4"
        target="_blank"
        rel="noopener noreferrer"
        >Development Request Form</a
      >
    </p>
    <p>Need someone to help run your community?</p>
    <p>
      <a
        href="https://airtable.com/shrdq3KYeYrPcDc3W"
        target="_blank"
        rel="noopener noreferrer"
        >Community Management Request Form</a
      >
    </p>
    <p>Have a general inquiry?</p>
    <p>
      <a
        href="https://chat.nhcarrigan.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        Join our Chat Server
      </a>
    </p>
  </div>
  <a routerLink="/" class="nes-btn">Back Home</a>
</div>
