nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 10px;
    background-color: #dfb5f4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

.navlinks {
    min-width: 30%;
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
}

a {
    color: rgba(46,6,62,1);
}