<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Our Mission</h1>
    <p>
      Here at NHCarrigan, we believe that people should have access to the tools
      and resources to reach their goals.
    </p>
    <p>As such, the work we do follows these core values:</p>
    <ul>
      <li>
        We strive to build affordable products for start-ups to help them manage
        their product and community.
      </li>
      <li>
        We help build safe and welcoming communities for folks looking to create
        their own space.
      </li>
      <li>
        We create opportunities for developers to break in to the tech industry.
      </li>
    </ul>
    <p>
      These values are reflected in the clients we take on and the projects we
      will accept.
    </p>
  </div>
  <a routerLink="/" class="nes-btn">Back Home</a>
</div>
