<h1>Commission Us</h1>
<p *ngIf="loading" class="type-forever">Loading...</p>
<div *ngIf="!loading">
  <p>Want us to do some work for you? We'd gladly review your request!</p>
  <p>We have a couple of forms for different types of work:</p>
  <ul>
    <li>
      <a
        href="https://airtable.com/appz49eeX4qZUH88Y/shrO0nZ56UMfLgXdJ"
        target="_blanK"
        rel="noopener noreferrer"
        >Development Work</a
      >
    </li>
    <li>
      <a
        href="https://airtable.com/appz49eeX4qZUH88Y/shrgod1nYYBvjSmc4"
        target="_blank"
        rel="noopener noreferrer"
        >Community Management</a
      >
    </li>
    <li>
      <a
        href="https://airtable.com/appz49eeX4qZUH88Y/shrZLolhnZH7QLv41"
        target="_blank"
        rel="noopener noreferrer"
        >Mentorship</a
      >
    </li>
  </ul>
  <p class="big">
    Once you have filled out a form, be sure to
    <a
      href="https://chat.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >join our Discord</a
    >! That is the ONLY WAY we will be able to communicate with you about your
    request, so you MUST be there.
  </p>
</div>
