<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Sponsor Us</h1>
    <p>
      Do you believe in our mission? Do you want to help support our vision?
    </p>
    <p>You can donate using any of the below methods:</p>
    <ul>
      <li>
        <a
          href="https://github.com/sponsors/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sponsor us on GitHub
        </a>
      </li>
      <li>
        <a
          href="https://www.patreon.com/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sponsor us on Patreon
        </a>
      </li>
      <li>
        <a
          href="https://ko-fi.com/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sponsor us on Ko-Fi
        </a>
      </li>
      <li>
        <a
          href="https://paypal.me/nhcarrigan"
          target="_blank"
          rel="noopener noreferrer"
        >
          Sponsor us on PayPal
        </a>
      </li>
    </ul>
  </div>
  <a routerLink="/" class="nes-btn">Back Home</a>
</div>
