/* You can add global styles to this file, and also import other style files */
:root {
  --dark-blue: #00302c;
  --dark-link: #8f007c;
  --light-blue: #73fff1;
  --light-link: #ff94f1;
  --cursor-normal: url("https://cdn.nhcarrigan.com/cursors/cursor.cur");
  --cursor-pointer: url("https://cdn.nhcarrigan.com/cursors/pointer.cur");

  /* Sponsor Colours */
  --silver-sponsor: #607d8b;
  --gold-sponsor: #f1c40f;
  --platinum-sponsor: #95a5a6;
  --amethyst-sponsor: #9b59b6;
}

@font-face {
  font-family: "Odudo";
  src: url("https://cdn.nhcarrigan.com/fonts/odudomono.otf");
  font-display: swap;
}

html {
  cursor: var(--cursor-normal), default;
}

body {
  margin: 0;
  background: url("https://cdn.nhcarrigan.com/banners/nhcarrigan.png") no-repeat
    top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--dark-blue);
  font-family: "Odudo", Courier, monospace;
  text-align: center;
}

a {
  cursor: var(--cursor-pointer), pointer;
  color: var(--dark-link);
}

.light-link {
  color: var(--light-link);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.content {
  margin: auto;
  margin-top: 10px;
  max-width: 750px;
}

li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.job-title {
  font-weight: bold;
  margin-bottom: 0;
}

.job-timeline {
  font-style: italic;
  margin-top: 0;
}

.corner {
  height: 500px;
  width: 250px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.corner-left {
  left: 0;
}

.dialogue {
  display: grid;
  grid-template-columns: 100px auto;
}

.face {
  width: 100px;
  height: 100px;
}

/* NES.css Overrides */
.nes-container.is-rounded {
  background-color: rgb(115, 255, 241, 0.75);
}

.nes-container.is-rounded.with-title.is-centered {
  margin-bottom: 20px;
}

.nes-container.is-rounded.with-title.is-centered.is-dark {
  margin-bottom: 20px;
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.nes-container.is-rounded.is-centered.is-dark {
  margin-bottom: 20px;
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.nes-container.is-rounded.with-title.is-centered > .title {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  font-size: 1.5rem;
}

.nes-btn {
  cursor: var(--cursor-pointer), pointer;
}

@media (max-width: 1100px) {
  .corner {
    display: none;
  }
}
