table {
  width: 500px;
  min-width: 50%;
  text-align: center;
}

thead {
  font-size: 3rem;
}

td {
  font-size: 1.5rem;
}

a,
a:visited {
  color: var(--text);
}

.avatar {
  filter: sepia() hue-rotate(130deg) saturate(500%);
}
