<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Oops!</h1>
    <p>
      It looks like you've found a broken link. We apologise for the trouble!
      Please let us know in our
      <a
        href="https://chat.nhcarrigan.com"
        target="_blank"
        rel="noopener noreferrer"
        >chat server</a
      >
      with a description of how you got here!
    </p>
  </div>
  <a routerLink="/" class="nes-btn">Back Home</a>
</div>
