<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">NHCarrigan</h1>
    <p>We are a software consultancy and community management firm.</p>
    <p>
      We prioritise open source requests, and communities that facilitate growth
      and welcoming environments.
    </p>
    <p>
      You can see all of our open source work on our
      <a href="https://github.com/nhcarrigan" target="_blank">GitHub</a>.
    </p>
  </div>
  <a routerLink="/mission" class="nes-btn">Our Mission</a>
  <a routerLink="/clients" class="nes-btn">Current Clients</a>
  <a routerLink="/contact" class="nes-btn">Request Work</a>
  <a routerLink="/team" class="nes-btn">Our Team</a>
  <a routerLink="/donate" class="nes-btn">Support Our Work</a>
</div>
